<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    package="themed.fakemonet.generic"
    platformBuildVersionCode="26"
    platformBuildVersionName="8"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="themed.fakemonet.generic" />
    <application
        android:label="ThemedFakeMonetGeneric"
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>