<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="11"
    package="themed.accent.generic"
    platformBuildVersionCode="29"
    platformBuildVersionName="10"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="themed.accents" />
    <application
        android:label="Themed Accent Generic"
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>