<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="themed.iconpack.oos.settings"
    platformBuildVersionCode="26"
    platformBuildVersionName="8"
    android:compileSdkVersion="26"
    android:compileSdkVersionCodename="8"
    android:versionCode="1"
    android:versionName="1.0"> 
    <overlay
        android:category="themed.iconpack.settings"
        android:priority="1"
        android:targetPackage="com.android.settings" />
    <application
        android:extractNativeLibs="false"
        android:hasCode="false"
        android:label="Themed IconPack OxygenOS" />
</manifest>