<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="26"
    android:compileSdkVersionCodename="8"
    package="themed.roundedcorners0dp"
    platformBuildVersionCode="26"
    platformBuildVersionName="8"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="themed.roundedcorners" />
    <application
        android:label="Corners 0dp"
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>