<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="themed.navbar.oneui"
    platformBuildVersionCode="26"
    platformBuildVersionName="8"
    android:compileSdkVersion="26"
    android:compileSdkVersionCodename="8"
    android:versionCode="1"
    android:versionName="1.0"> 
    <overlay
        android:category="themed.navbar"
        android:priority="1"
        android:targetPackage="com.android.systemui" />
    <application
        android:extractNativeLibs="true" 
        android:hasCode="false"
        android:icon="@drawable/ic_sysbar_home"
        android:label="Themed Navbar OneUi" />
</manifest>