<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
 android:versionCode="1"
 android:versionName="1"
 android:compileSdkVersion="30" 
 android:compileSdkVersionCodename="11" 
 package="themed.roundedcorners.generic" 
 platformBuildVersionCode="26" 
 platformBuildVersionName="8">
    <overlay 
    android:category="themed.roundedcorners.generic" 
    android:priority="1" 
    android:targetPackage="android" />
    <application 
    android:extractNativeLibs="false" 
    android:hasCode="false" 
    android:label="Themed Corners Generic " />
</manifest>