<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionCode="1"
    android:versionName="1.0"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="themed.accents.dark.MaterialLightGreenA700"
    platformBuildVersionCode="29"
    platformBuildVersionName="10"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="1"
        android:targetPackage="android"
        android:category="themed.accent_dark_color" />
    <application
        android:label="Themed Accent DarkMaterialLightGreenA700"
       
        android:hasCode="false"
        android:extractNativeLibs="false" />
</manifest>